body{
    color: darkslategrey;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    padding: 2em;
    border: solid 1px darkslategrey;
    margin: 0 auto;
    width: 70%;
}

.cabecera{
    color: white;
    background-color: dodgerblue;
    font-weight: 700;
    margin: 0 auto;
    width: 70%;

}